backups/
src/behavior_packs
src/definitions
src/development_behavior_packs
src/development_resource_packs
src/development_skin_packs
src/internalStorage
src/resource_packs
src/structures
src/world_templates
src/worlds

bedrock_server.exe
bedrock_server.pdb
bedrock_server_how_to.html
release-notes.txt